GOOGLE_MAPS_API_KEY = "*********"
ITEM_CATEGORY_API_ENDPOINT = https:$(XC_SLASH)$(XC_SLASH)example.execute-api.ap-northeast-1.amazonaws.com$(XC_SLASH)v1$(XC_SLASH)item-category:classify
ITEM_CATEGORY_API_KEY = "*********"
